version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    container_name: postgres_planner_test
    environment:
      POSTGRES_DB: planner_course_test
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ad1234admin 
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data: 